/*  by Taro Sage, 2026 */
<body>
<h1 style="background-color:DarkOliveGreen; font-size:16;">Soon, this webpage will feature an interactive map for ethnomycology.</h1>
<p style="background-color:Tomato; font-size:12;">If you aren't familiar with ethnomycology, consider reading about it here.</p>
</body>